<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="微信定时朋友圈"
        android:supportsRtl="true">
        
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Play版微信定时发送朋友圈模块" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
    </application>

</manifest>
